img {
    width: 29%;
    margin: 1.666%;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: 1.666%;
    padding: 20px 0;
}

body {
    font-family: 'Press Start 2P', cursive;;
}